# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Environments ---
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- Project Specific (Data & Logs) ---
# Ignoramos el contenido pero mantenemos la estructura de carpetas
dataset/*
!dataset/.gitkeep
database/*
!database/.gitkeep
logs/*
!logs/.gitkeep

# Archivos pesados o generados
recognition_log.txt
*.h5
*.npz
*.pkt
*.sqlite

# --- OS ---
.DS_Store
Thumbs.db
desktop.ini

